<div class="actions-row">
  @if (showSecondary && secondaryLabel) {
    <p-button
      [label]="secondaryLabel"
      [icon]="secondaryIcon"
      [severity]="secondarySeverity"
      [outlined]="secondaryOutlined"
      [text]="secondaryText"
      [raised]="secondaryRaised"
      [rounded]="secondaryRounded"
      [size]="buttonSize"
      [loading]="secondaryLoading"
      [disabled]="secondaryDisabled"
      (onClick)="onSecondaryClick()"
    />
  }

  <p-button
    [label]="primaryLabel"
    [icon]="primaryIcon"
    [severity]="primarySeverity"
    [outlined]="primaryOutlined"
    [text]="primaryText"
    [raised]="primaryRaised"
    [rounded]="primaryRounded"
    [size]="buttonSize"
    [loading]="primaryLoading"
    [disabled]="primaryDisabled"
    (onClick)="onPrimaryClick()"
  />
</div>
