<div class="field-block">
  <label class="field-label" [for]="inputId">
    {{ label }}
    @if (showRequiredMark) {
      <span class="required-mark">*</span>
    }
  </label>
  <p-datepicker
    class="field-input"
    [class.field-invalid]="showRequiredError"
    [inputId]="inputId"
    [placeholder]="placeholder"
    [showIcon]="showIcon"
    [showButtonBar]="showButtonBar"
    [showTime]="showTime"
    [showSeconds]="showSeconds"
    [hourFormat]="hourFormat"
    [dateFormat]="dateFormat"
    [minDate]="minDate"
    [maxDate]="maxDate"
    [appendTo]="appendTo"
    [ngModel]="model"
    (ngModelChange)="onModelChange($event)"
  />
  @if (showRequiredError) {
    <small class="field-error">{{ requiredErrorMessage }}</small>
  } @else if (helperText) {
    <small class="field-help">{{ helperText }}</small>
  }
</div>
