<div class="field-block">
  <label class="field-label" [for]="inputId">
    {{ label }}
    @if (showRequiredMark) {
      <span class="required-mark">*</span>
    }
  </label>
  <p-multiSelect
  class="field-input"
  [class.field-invalid]="showRequiredError"
  [inputId]="inputId"
  [options]="options"
  [optionLabel]="optionLabel"
  [optionValue]="optionValue"
  [placeholder]="placeholder"

  [filter]="true"
  filterPlaceholder="Search"

  [showToggleAll]="true"

  [disabled]="disabled"
  [appendTo]="appendTo"
  [display]="display"

  [(ngModel)]="model"
  (ngModelChange)="onModelChange($event)">

</p-multiSelect>
  @if (showRequiredError) {
    <small class="field-error">{{ requiredErrorMessage }}</small>
  } @else if (helperText) {
    <small class="field-help">{{ helperText }}</small>
  }
</div>
